; Configuration for the first network

[wifi]
; Optional section. If present, overrides network.interface
interface = wlan0
mode      = Ad-Hoc
essid     = GoLinuxNetlinkTest

[network]
interface = eth0
address   = 10.0.0.1/24

[docker]
; Bridge to be used by docker
; NB: this requires to add the following to /etc/default/docker:
;     DOCKER_OPTS="-b=bridge0"
bridge  = bridge0
address = 172.17.51.1/24

[tunnel]
; system-to-system encapsulation, tunnel mode is one of 'ipip' or 'gre
name    = tun2
; mode is one of 'ipip' or 'gre'
mode    = gre
; the local address of the tunnel is always equal to network.address
remote  = 10.0.0.2/24
; local tunnel endpoint address (on the docker.bridge network)
address = 172.17.51.254
; the encapsulated network that is to arrive on the @remote site
encap   = 172.17.52.0/24
